@using WebApplication1.Models.UserVMs;
@using WebApplication1.Models;
@model DisplayUserVM
<tr>
    <td>
        @Html.DisplayFor(modelItem => modelItem.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.Surname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.Patronymic)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.Login)
    </td>
    <td id="roleList">
        @foreach (var item in Model.Roles)
        {
            @item
            <br />
        }
    </td>
    <td>
        @Html.DropDownList("roles", new SelectList(new string[] { UserRoles.Underwriter, UserRoles.User }, new { @id="roles"}))
        <button type="button" class="btn btn-outline-success" onclick="AddRole('@Model.Login')">Add role</button>
    </td>
</tr>
