@model SCB.Surkova.CreditApprovalSystem.Web.Models.User.DisplayUserVM

@{
    ViewBag.Title = "GetProfile";
}


<br />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patronymic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patronymic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Passport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passport.Series) @Html.DisplayFor(model => model.Passport.Number)

        </dd>

        <dd>
            @if (Model.Passport.Scans != null)
            {
                foreach (var item in Model.Passport.Scans)
                {
                    <img src="@String.Format("data:image/jpg;base64,{0}", item.Image)" class="image" />
                }
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalFile)
        </dt>

        @if (Model.AdditionalFile != null)
        {
            <img src="@String.Format("data:image/jpg;base64,{0}", Model.AdditionalFile.Image)" style="width:100px; height:120px" />
        }
        else
        {
            @:(not denied)
        }
    </dl>

</div>
<p>@Html.ActionLink("Edit profile", "EditProfile", "Users", null, new { @class = "btn btn-success" })</p>

